.cookie {
    width: 100%;
    background: rgb(240, 233, 233);
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cookie-left {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cookie-left h5 {
    color: #cb10a6;
    font-size: 15px;
    padding: 10px 0;
}

.cookie-left h3 {
    text-transform: capitalize;
    font-weight: 700;
    width: 50%;
    font-size: 1.5rem;
    padding: 10px 0;
    line-height: 35px;
}

.cookie-left p {
    width: 70%;
}

.cookie-right {
    padding: 60px 0;
    margin-right: 200px;
}

.cookie-right .img {
    background: #9A54EA;
    display: flex;
    justify-content: center;
}

.cookie-right img{
    width: 100%;
    padding: 40px;
}

@media only screen and (max-width: 992px) {
    .cookie {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }

        .cookie-left {
            padding: 0 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        .cookie-left h5 {
            font-size: 1rem;
            padding: 10px 0;
        }
    
        .cookie-left h3 {
            width: 100%;
            font-size: 1.4rem;
        }
    
        .cookie-left p {
            width: 100%;
            height: 50%;
            font-size: 1rem;
        }

        .cookie-right {
            margin-right: 50px;
        }

        .cookie-right .img {
            background: #9A54EA;
            margin-left: 40px;
           
       }
}
