.easy {
    display: flex;
    padding: 40px ;
    justify-content: space-around;
}

.easy-left {
    margin: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.easy-left h3 {
    color: #cb10a6;
    font-size: 1rem;
    padding-bottom: 10px;
}

.easy-left h2 {
    font-weight: 900;
    font-size: 27px;
}

.easy-left p {
    padding: 20px 0;
    font-size: 1.1rem;
}

.easy-right img {
    width: 623px;
    height: 592px;
    position: relative;
}

.easy-right {
    display: flex;
    align-items: center;
}

/* .easy-right .card {
    background: #9A54EA;
    position: absolute;
    width: 634px;
    height: 600px;
    left: 980px;
    top: 5900px;
} */

@media (max-width: 992px) {
    .easy {
        display: flex;
        flex-direction: column;
    }

        .easy-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        .easy-left h3 {
            color: #cb10a6;
            font-size: 1rem;
            padding-bottom: 10px;
        }
    
       
        .easy-right img {
            width: 500px;
            height: 350px;
        }
    
        .easy-right {
            display: flex;
            align-items: center;
        }
    
}