.hero {
    display: flex;
    margin: 80px 10px;
}

.hero .desc{
    background: #2ACDED;
    color: white;
}

.hero .desc p {
    padding: 70px 20px;
    font-size: 1.1rem;
}

.hero .desc h6 {
    margin: 30px;
    line-height: 50px;
}

.hero .desc h6 span {
    font-weight: bold;
}

@media (max-width: 1024px) {
    .hero {
         flex-direction: column;
    }

    .hero img {
        width: 100%;
    }
}