.home {
    background: linear-gradient(100deg, #CB10A6, rgb(77, 19, 77));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    width: 100%;
}

.home h3 {
    text-transform: uppercase;
    color: white;
}

.home h2 {
    font-size: 4rem;
    color: white;
    padding: 10px;
    font-weight: 700;
}

.home p {
    color: white;
    text-align: center;
}

.home-btn {
    padding: 20px;
}

.home-btn button {
    margin: 15px;
    padding: 0 30px;
}

.home-btn .btn-demo {
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    background: none;
}

.home-btn .btn-gt {
    background: #CB10A6;
    border-radius: 20px;
    color: white;
}

.home-btn button:hover {
    background: #cb10a6d3;
    color: white;
    transition: .3s ease-in-out;
}

@media (max-width: 992px) {
    .home {
        flex-wrap: wrap;
    }
    .home h3 {
           font-size: 1rem;
        }
    .home h2 {
            font-size: 2.5rem;
            text-align: center;
           
        }
    .home p {
         font-size: 1rem;
         padding: 0 20px;
       }
    .home-btn {
        display: flex;
      }
}